@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <p> <h2>Calculator</h2> </p>
    <form asp-action="/index" method="post">
        <input type="number" name="leftNumber" />
        <input type="number" name="rightNumber" />
        <fieldset>
            <label><input type="checkbox" name="operation" value="add" /> Add</label>
            <label><input type="checkbox" name="operation" value="sub" /> Subtract</label>
            <label><input type="checkbox" name="operation" value="mul" /> Multiply</label>
            <label><input type="checkbox" name="operation" value="div" /> Divide</label>
        </fieldset>
        <input type="submit" value="Calculate" />
    </form>


    @if (@Model.ResultSet)
    {
        <p>Answer is <output>@Model.result</output>.</p>
    }

</div>